0. 첫번째 프로그램

In [213]:
print("Hello, Python")
print(123)
print(False)

Hello, Python
123
False

In [370]:
import this

1. 변수

In [243]:
a = 123
b = 45.67
c = 'abcdefg'
d = "abcdefg"
e = False

print(a)
print(b)
print(c)
print(d)
print(e)

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

del a
# print(a)

123
45.67
abcdefg
abcdefg
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [244]:
a = b = c = 100
print(a,b,c)

val1, val2, val3 = 10, 20, 30
print(val1, val2, val3)

100 100 100
10 20 30

In [245]:
a = input("값을 입력하세요")
print(a)
type(a)

789

str

1.2 산술연산자 (+, -, *, /, //, %, **)

In [371]:
x=input("숫자를 입력하세요")
print(x)
type(x)

5

str

In [374]:
tempC = input("섭씨온도를 입력하세요")
tempF = (int(tempC) * 9) / 5 + 32
print(tempC)
print(tempF)

37
98.6

In [375]:
# % , // , **
print(11/4)
print(11//4)
print(11%4)
print(2**3)

2.75
2
3
8

In [376]:
# 수학(math) 모듈
import math
print(math.ceil(3.14))
print(math.floor(3.14))
print(round(3.14))

4
3
3

2. 문자열(str)

In [377]:
print("Hello","Python")
print("Hello"+"Python")
print("Hello","Python", sep='')
print("Hello","Python", sep='@@@')

print("Hello", end=" ")
print("Python")

Hello Python
HelloPython
HelloPython
Hello@@@Python
Hello Python

In [251]:
s = "Hello, I'm Joy!"
print(s)
print(len(s))

Hello, I'm Joy!
15

In [255]:
# 이스케이프 문자 사용
print("hi\thi\nhello")

hi	hi
hello

In [256]:
# 문자열 연결 연산자 + 
# 주의! + 연산자 양쪽이 같은 데이터이어야 함
# 모두 str 데이터 or numeric 데이터
s1 = "abc"
s2 = "def"
num = 123

print(s1+str(num))

s = s1 + s2
print(s)

abc123
abcdef

2.2 타입 캐스팅(CASTING) - 형변환

In [257]:
a = 123
str(a)

'123'

In [258]:
str(123)

'123'

In [378]:
int("123")

123

In [379]:
float("00123.45")

123.45

In [380]:
int("1001",2)

9

In [259]:
int("AFF0",16)

45040

2.3 문자열 메서드

In [260]:
s = "My name is Joy"
print(len(s))
print(s.find("Joy"))
print(s.replace("Joy","Loy"))
print(s[-3:])
print(s)

14
11
My name is Loy
Joy
My name is Joy

2.4 문자열 슬라이싱

In [261]:
s = "abcdefghijklmnopqrstuvwxyz"
print(len(s))
print(s.find("m"))
print(s[12])
print(s[12:17])
print(s[:17])
print(s[12:])
print(s[-14:])
print(s[:-9])

26
12
m
mnopq
abcdefghijklmnopq
mnopqrstuvwxyz
mnopqrstuvwxyz
abcdefghijklmnopq

2.5 문자열 대소문자 변환

In [264]:
s = "abcDEFghijKLMnopqrSTUVwxyz"
s2 = s.upper()
print(s2)
print(s.lower())
print(s) # 원래 데이터는 변경되지 않음

ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
abcDEFghijKLMnopqrSTUVwxyz

In [266]:
s1 = "abcDEFghijKLMnopqrSTUVwxyz"
print(len(s1)/2)
s2 = s1[:13].lower() + s1[13:].upper()  # 일부만 변경 가능
print(s2)
print(s1)

13.0
abcdefghijklmNOPQRSTUVWXYZ
abcDEFghijKLMnopqrSTUVwxyz

2.6 문자열 join

In [268]:
s = " marries "
print(s.join(['Alice','Bob']))


s = " "
fruits = ["apple","banana","kiwi","mango"]
print(s.join(fruits))

for i in range(len(fruits)):
    print(fruits[i], end=" ")

Alice marries Bob
apple banana kiwi mango
apple banana kiwi mango

2.7 문자열 format 함수와 f-string

In [386]:
print("3+4=",3+4)
# print("3+4=" + str(3+4))
print("3+4={:d}".format(3+4))
print("3+4={}, 5+6={}".format(3+4,5+6))

x = 1.234567000
print("x={}".format(x))
print("x={:.2f}".format(x))
print("x={:10.9f}".format(x))
print("x={:07.2f}".format(x))
print("x={:+07.2f}".format(x))

3+4= 7
3+4=7
3+4=7, 5+6=11
x=1.234567
x=1.23
x=1.234567000
x=0001.23
x=+001.23

In [387]:
print("3+4={}".format(3+4))
print(f"3+4={3+4}")
print(
    f'''
    3+4={3+4}
    5+6={6+6}
    7+8={7+8}  
    ''')

3+4=7
3+4=7

    3+4=7
    5+6=12
    7+8=15

2.8 날짜표시형식 datetime

In [388]:
from datetime import datetime

d = datetime.now()
print(d)

print(d.year)
print(d.month)
print(d.day)
print(d.hour)
print(d.minute)
print(d.second)

print("{:%Y-%m-%d %H:%M:%S}".format(d))
print("{:%m/%d %H:%M}".format(d))

2025-07-15 13:11:13.043041
2025
7
15
13
11
13
2025-07-15 13:11:13
07/15 13:11

2.9 help(함수)

In [389]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return type(value).__format__(value, format_spec)

    Many built-in types implement format_spec according to the
    Format Specification Mini-language. See help('FORMATTING').

    If type(value) does not supply a method named __format__
    and format_spec is empty, then str(value) is returned.
    See also help('SPECIALMETHODS').

3. 조건문

In [390]:
# if 조건문:
#     조건문이 참일 때 실행되는 문장
    
# 이 문장은 if문 안에 있는 문장이 아닙니다.

x = 0

if x == 0 :
    print("x는 100 이상의 값입니다")
    
print("이 문장은 if문과 상관없이 출력됩니다")

x는 100 이상의 값입니다
이 문장은 if문과 상관없이 출력됩니다

In [391]:
if x > 100:
    # x가 100보다 큰 경우 구현해야 함
    pass
else:
    # x가 100보다 작은 경우 구현해야 함
    pass

In [392]:
x = 30

if x > 100:
    print("100초과 값입니다")
elif 50 < x <= 100:  # 조건문 범위의 예 (비교연산자를 3항으로 사용)
    print("50초과, 100 이하의 값입니다")
elif x > 10 and x <= 50: # 조건문 범위의 예 (and or not과 함께 사용)
    print("10초과, 50 이하의 값입니다")
else:
    print("10 이하의 값입니다")
    
print("if/elif/else 문 밖의 문장입니다")

10초과, 50 이하의 값입니다
if/elif/else 문 밖의 문장입니다

3.2 비교연산자

In [ ]:
print("a < A", "a"<"A")  # 대문자 < 소문자
print("A < a", 'A'<'a')
print("apple < banana", 'apple' < 'banana')  # 알파벳 순서
print("경민<정원", "경민" < "정원") # 한글 가나다 순서

print("apple"+"banana") # 연결연산자로 출력하는 경우
print("apple","banana") # 콤마(,) 사용 출력하는 경우

a < A False
A < a True
apple < banana True
경민<정원 True
applebanana
apple banana

3.3 논리연산자 (and, or, not)

In [393]:
x = True
y = False
print(x and y)

False

3.4 조건문 문제 (학점 계산 프로그램)

In [ ]:
# 1. 점수를 키보드로부터 입력값을 받습니다 (0 점 ~ 100 점)

# 2. 점수값에 따라 학점을 출력해 줍니다
#    90 점 이상 100 점 이하 : A
#    80 점 이상 : B
#    70 점 이상 : C
#    60 점 이상 : D
#    60 점 미만 : F
#    그외의 값 : 잘못된 값입니다.

In [394]:
while True:
    x = int(input("점수를 입력하세요"))

    if 90 <= x <= 100:
        grade = 'A'
        print(f"당신의 점수는 {x}입니다")
        print("당신의 학점은 "+grade+"입니다")
        break
    elif 80 <= x < 90 :
        grade = 'B'
        print("당신의 점수는 {}입니다".format(x))
        print("당신의 학점은 "+grade+"입니다")
        break
    elif 70 <= x < 80 :
        grade = 'C'
        print("당신의 점수는 {}입니다".format(x))
        print("당신의 학점은 "+grade+"입니다")
        break
    elif 60 <= x < 70  :
        grade = 'D'
        print("당신의 점수는 {}입니다".format(x))
        print("당신의 학점은 "+grade+"입니다")
        break
    elif 0 <= x < 60  :
        grade = 'F'
        print("당신의 점수는 {}입니다".format(x))
        print("당신의 학점은 "+grade+"입니다")
        break
    else:
        print("잘못된 점수 값입니다. 다시 입력하세요")

당신의 점수는 60입니다
당신의 학점은 D입니다

3.5 바다코끼리 연산자(the walrus operator) v3.8 이상 지원

In [219]:
# :=
name = "This example sentence"
if (n := len(name)) > 3:
    print(name + "의 길이는 " + str(n) + "이다")

if len(name) > 3:
    print(name + "의 길이는 " + str(len(name)) +"이다")

This example sentence의 길이는 21이다
This example sentence의 길이는 21이다

3.6 파이썬 v3.10 이상 지원 - match (switch문과 비슷)

In [395]:
x = 2
match x:
    case 1:
        print("one")
    case 2:
        print("two")

two

In [396]:
grade = input('학년을 입력하세요 : ')
 
match grade:
    case '1' | '2' | '3' :
        print(grade + '학년은 저학년입니다.')
    case '4' | '5' | '6' :
        print(f'{grade}학년은 고학년입니다.')    
    case _ :  # _ 는 와일드카드 (앞에 조건외의 다른 경우)
        print('1 ~ 6 까지만 입력 가능!')

6학년은 고학년입니다.

4. 반복문

4.1 for ~ in 반복문

In [ ]:
# for 변수값 in 반복데이터 :
#     반복해서 실행할 문장
    
# for문이 끝난 후의 외부 명령코드

In [397]:
for i in range(10):
    print(i)
    
# for _ in range(10):
#     print(_)

0
1
2
3
4
5
6
7
8
9

In [398]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [399]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [400]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [401]:
for s in "가나다라마바사아":
    print(s, end='\n')

가
나
다
라
마
바
사
아

4.2 while 반복문

In [402]:
i = 1
while i < 11:
    print(i)
    i += 1  # i=i+1

1
2
3
4
5
6
7
8
9
10

In [403]:
answer = ""
while answer != 'q':
    answer = input("키보드를 누르세요:")
    print(answer)

q

In [404]:
answer = ""
while True:
    answer = input("키보드를 누르세요:")
    print(answer)
    if (answer == 'q'):
        break

q

In [405]:
print("3 + 4 = ", end='')
while True:
    a = int(input("정답을 입력하시오 : "))
    if a == 7 :
        print(a)
        break
print("참 잘했어요")

3 + 4 = 7
참 잘했어요

In [ ]:
help(print)

4.3 반복문 연습 문제

In [406]:
# 1부터 10까지의 정수 중에서 짝수는 "짝수" 아니면 "홀수"를 출력하세요
for v in range(1,11):
	if v % 2 == 0 :
		print(v, "짝수", sep=" : ")
	else :
		print(v, "홀수", sep=" : ")

1 : 홀수
2 : 짝수
3 : 홀수
4 : 짝수
5 : 홀수
6 : 짝수
7 : 홀수
8 : 짝수
9 : 홀수
10 : 짝수

In [407]:
sum_value = 0
for num in range(1, 101):
	sum_value += num        # sum_value = sum_value +  num
print ("1부터 100까지 더한 값 =",sum_value)

1부터 100까지 더한 값 = 5050

5. 함수

In [408]:
def count_to_5():
    for n in range(1,6):
        print(n)
    
count_to_5()

1
2
3
4
5

In [409]:
def count_to_n(n):
    for i in range(1,n+1):
        print(i)
    
count_to_n(3)

1
2
3

In [410]:
def count_to_n(n=5):
    for i in range(1,n+1):
        print(i)
    
count_to_n(10)

1
2
3
4
5
6
7
8
9
10

In [411]:
def count(start_n=10, end_n=5):
    """start_n : 시작값, end_n : 종료값 
       start_n ~ end_n까지의 수를 출력함"""  # docstring
    for i in range(start_n,end_n+1):
        print(i)
    
count(3,10)
count()

3
4
5
6
7
8
9
10

In [272]:
print("Hello", "World", "!", sep='-', end='@')
print("I'm Joy")

Hello-World-!@I'm Joy

In [ ]:
help(print)

In [273]:
def make_polite(sentence):
    s = sentence + " 제발~"
    return s

print(make_polite("연필 좀 줄래?"))

연필 좀 줄래? 제발~

5.2 함수 연습문제

In [274]:
def add(num1, num2) :
	return num1 + num2

def sub(num1, num2) :
	return num1 - num2

r1 = add(10, 20)

v1 = 100; v2 = 200
r2 = add(v1, v2)

print(r1, r2)

30 300

6. 리스트

In [275]:
list_a = [20, 'Joy', 10.8, True, 80]
list_b = [30, 'cat']

print(list_a)
print(list_b)

print(list_a[1])
list_a[1] = 'Loy'

print(list_a)
print(len(list_a))

[20, 'Joy', 10.8, True, 80]
[30, 'cat']
Joy
[20, 'Loy', 10.8, True, 80]
5

In [276]:
list_a = [20, 'Joy', 10.8, True, 80]
list_c = [30, 'cat']

list_a.append(166)  # 리스트 끝에 요소 추가
print(list_a)

list_a.insert(1,'pretty') # 리스트 중간(인덱스번호)에 요소 추가
print(list_a)

list_a.append(list_b) # 리스트 끝에 요소(다른 리스트) 추가 
print(list_a)

list_a.pop() # 리스트 끝의 요소 삭제
print(list_a)

list_a.extend(list_c) # 리스트 끝에 다른 리스트의 요소를 추가
print(list_a)

list_a.pop(5) # 리스트의 특정 위치(인덱스번호) 요소 삭제
print(list_a)

del list_a[1] # 리스트의 특정 위치(인덱스번호) 요소 삭제
print(list_a)

[20, 'Joy', 10.8, True, 80, 166]
[20, 'pretty', 'Joy', 10.8, True, 80, 166]
[20, 'pretty', 'Joy', 10.8, True, 80, 166, [30, 'cat']]
[20, 'pretty', 'Joy', 10.8, True, 80, 166]
[20, 'pretty', 'Joy', 10.8, True, 80, 166, 30, 'cat']
[20, 'pretty', 'Joy', 10.8, True, 166, 30, 'cat']
[20, 'Joy', 10.8, True, 166, 30, 'cat']

In [ ]:
# 구분자(delimiter)로 문자열 분리해서 리스트에 저장하기
print("123456-1234567".split('-'))
print("123,456,123,45,67".split(','))
print("http://naver.com/shopping/category=0//012837948392".split('/'))

['123456', '1234567']
['123', '456', '123', '45', '67']
['http:', '', 'naver.com', 'shopping', 'category=0', '', '012837948392']

In [287]:
s1 = "저는 오늘 아침에 커피를 마시고 왔습니다"
list_old = s1.split()
print(list_old)

print(list_old[3])
print(list_old[3][0:2])

list_new = list_old
list_new[3] = "녹차를"
print(list_new)

s2 = " ".join(list_new)

print(s1)
print(s2)

['저는', '오늘', '아침에', '커피를', '마시고', '왔습니다']
커피를
커피
['저는', '오늘', '아침에', '녹차를', '마시고', '왔습니다']
저는 오늘 아침에 커피를 마시고 왔습니다
저는 오늘 아침에 녹차를 마시고 왔습니다

In [412]:
a = [40, "joy", 28, 166.8, True]
for x in a:
    print(x)

40
joy
28
166.8
True

In [414]:
a = [40, "joy", 28, 166.8, True, 166]
for i, x in enumerate(a):
    print(i, x)

print()

for (i, x) in enumerate(a):
    print(i, x, sep='->')

print()

for i in range(len(a)):
    print(i, a[i])

0 40
1 joy
2 28
3 166.8
4 True
5 166

0->40
1->joy
2->28
3->166.8
4->True
5->166

0 40
1 joy
2 28
3 166.8
4 True
5 166

In [415]:
a = [10, 40, 3, 5, 100, 8]

for x in a:
    if x >= 10 :
        print(x)

10
40
100

In [416]:
a = ['dog','cat','horse','duck','rabbit']
b = ['고양이','말','강아지','오리','토끼']
print(a)
a.sort()
print(a)

print(b)
b.sort()
print(b)

['dog', 'cat', 'horse', 'duck', 'rabbit']
['cat', 'dog', 'duck', 'horse', 'rabbit']
['고양이', '말', '강아지', '오리', '토끼']
['강아지', '고양이', '말', '오리', '토끼']

In [417]:
import copy

a = ['dog','cat','horse','duck','rabbit']
b = copy.copy(a)

print("a = ", a)
print("b = ", b)

b.sort(reverse=True)
print("sorted b=", b)
print("a = ", a)

a =  ['dog', 'cat', 'horse', 'duck', 'rabbit']
b =  ['dog', 'cat', 'horse', 'duck', 'rabbit']
sorted b= ['rabbit', 'horse', 'duck', 'dog', 'cat']
a =  ['dog', 'cat', 'horse', 'duck', 'rabbit']

In [418]:
a = ["abc","def","ghi","jkl"]
b = [x.upper() for x in a]
c = []
print(a)
print(b)

for x in a:
    c.append(x.upper())

print(c)

['abc', 'def', 'ghi', 'jkl']
['ABC', 'DEF', 'GHI', 'JKL']
['ABC', 'DEF', 'GHI', 'JKL']

In [419]:
# a = [1,2,3,4,5]
a = [x+1 for x in range(1,11,2)]
b = [x**2 for x in a]
c = []
d = []

for x in range(1,11):
    if x%2 == 0:
        c.append(x)

d = [*a,*b]

print(a)
print(b)
print(c)
print(d)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 4, 16, 36, 64, 100]

In [420]:
c = [1,2,3,4]
print(c*5)
print(c+c)
print(c)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4]

In [421]:
a = [1,2,3,4]
b = [*a,*a]
c = (1, 2, 3, 4)

print(*a)
print(b)
print(c)

1 2 3 4
[1, 2, 3, 4, 1, 2, 3, 4]
(1, 2, 3, 4)

7. 딕셔너리(dictionary)

In [422]:

phone_num = {'Emily' :'010-1234-5678', 'Eric':'010-245-6789' , 'Ellie':'010-345-6789' }
print(phone_num)
print(type(phone_num))

dic_a = {"key1": 1, "key2":'string1'}
dic_b = {"key":dic_a}

print(dic_a)
print(dic_b)

{'Emily': '010-1234-5678', 'Eric': '010-245-6789', 'Ellie': '010-345-6789'}
<class 'dict'>
{'key1': 1, 'key2': 'string1'}
{'key': {'key1': 1, 'key2': 'string1'}}

In [423]:
phone_num = {'Emily' :'010-1234-5678', 'Eric':'010-245-6789' , 'Ellie':'010-345-6789' }

print(phone_num["Emily"])
phone_num["Emily"] = '010-123-4567'
print(phone_num)
phone_num["emily"] = '010-567-4567'
print(phone_num)
phone_num.pop("emily")
print(phone_num)
phone_num.pop("Emily")
print(phone_num)

010-1234-5678
{'Emily': '010-123-4567', 'Eric': '010-245-6789', 'Ellie': '010-345-6789'}
{'Emily': '010-123-4567', 'Eric': '010-245-6789', 'Ellie': '010-345-6789', 'emily': '010-567-4567'}
{'Emily': '010-123-4567', 'Eric': '010-245-6789', 'Ellie': '010-345-6789'}
{'Eric': '010-245-6789', 'Ellie': '010-345-6789'}

In [424]:
phone_num = {'Emily' :'010-1234-5678', 'Eric':'010-245-6789' , 'Ellie':'010-345-6789' }

print(phone_num)

for name in phone_num:  # key만 출력
    print(name)

print()
 
for x in phone_num.keys(): # key만 출력
    print(x)

print()

for x in phone_num.values(): # value만 출력
    print(x)

print()

for x in phone_num.items(): # (key, value) 출력
    print(x)

print()

for x,y in phone_num.items(): # key, value를 각각의 변수로 출력
    print(x , y, sep=" : ")

{'Emily': '010-1234-5678', 'Eric': '010-245-6789', 'Ellie': '010-345-6789'}
Emily
Eric
Ellie

Emily
Eric
Ellie

010-1234-5678
010-245-6789
010-345-6789

('Emily', '010-1234-5678')
('Eric', '010-245-6789')
('Ellie', '010-345-6789')

Emily : 010-1234-5678
Eric : 010-245-6789
Ellie : 010-345-6789

In [425]:
class1_1 = {"민희":[150,50], "진수":[170, 77], "정욱":[180,82]}
class1_2 = {"지영":[162,56], "진우":[177, 79], "승희":[168,66]}
class1_3 = {"영주":[169,60], "재욱":[184, 80]}

class1 = {"1-1":class1_1, "1-2":class1_2, "1-3":class1_3}

print(class1_1)
print(class1_2)
print(class1_3)

print(class1)

{'민희': [150, 50], '진수': [170, 77], '정욱': [180, 82]}
{'지영': [162, 56], '진우': [177, 79], '승희': [168, 66]}
{'영주': [169, 60], '재욱': [184, 80]}
{'1-1': {'민희': [150, 50], '진수': [170, 77], '정욱': [180, 82]}, '1-2': {'지영': [162, 56], '진우': [177, 79], '승희': [168, 66]}, '1-3': {'영주': [169, 60], '재욱': [184, 80]}}

8. 튜플

In [426]:
a = 1,2,3,4

print(a)
print(a[0])
# a[0]=5 # 튜플은 수정 불가능

v1, v2 = 2,3
print(v1, v2)

(1, 2, 3, 4)
1
2 3

In [427]:

v1, *v2 = 11, 22, 33, 44
print(v1, v2)

*v1, v2 = 11, 22, 33, 44
print(v1, v2)

v1, *v2, v3 = 11, 22, 33, 44
print(v1, v2, v3)

*v1, v2, v3 = 11, 22, 33, 44
print(v1, v2, v3)

11 [22, 33, 44]
[11, 22, 33] 44
11 [22, 33] 44
[11, 22] 33 44

8.2 함수에서 튜플 사용 (리턴값 2개 이상인 경우)

In [428]:
def calc_temperature(kelvin):
    cel = kelvin - 273
    fah = cel * 9 / 5 +32
    return cel , fah

c, f = calc_temperature(300)
print(c,"C",f,"F")

27 C 80.6 F

8.3 람다(lambda) 함수

In [429]:
print((lambda x: x + 3)(3))
print((lambda x: x[1].upper())(['a','b','c']))

6
B

9. 세트(Set)

In [430]:
a = {'apple','banana', 'orange', 'mango'}
b = {'milk','coffee','greentea', 'milk'}
print(a)
print(b)

{'banana', 'apple', 'mango', 'orange'}
{'milk', 'greentea', 'coffee'}

10. 클래스 (Class)

In [365]:
class Person:
    pass

p = Person()
print(p)

<__main__.Person object at 0x0000018874554AD0>

10.2 메서드 & 생성자(__init__)

In [226]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def say_hi(self):
        print("Hello, My name is", self.name)

p = Person('Joy')
p.say_hi()

Hello, My name is Joy

10.3 데코레이터(@)

In [ ]:
class Robot:
    population = 0
    
    def __init__(self, name):
        self.name = name
        print("Initializing...{}".format(self.name))
        Robot.population += 1
    
    def die(self):
        print("{} is destroying...".format(self.name))
        Robot.population -= 1
        
        if Robot.population == 0:
            print("{} 로봇이 마지막 로봇 이었습니다. 현재 {:d}대 남아있습니다".format(self.name, Robot.population))
        else:
            print("{} 로봇이 파기되었습니다. 현재 {:d}대 남아있습니다".format(self.name, Robot.population))
    
    def say_hi(self):
        print("Hello, My name is {}".format(self.name))
    
    @classmethod # 데코레이터
    def how_many(cls):
        print("현재 로봇이 {:d}대 입니다.".format(cls.population))
    
droid1 = Robot("R001")
droid2 = Robot("R002")
droid1.say_hi()  # 객체.메서드  
droid2.say_hi()
Robot.how_many() # 클래스.메서드
droid1.die()
Robot.how_many() # 클래스.메서드
droid2.die()

Initializing...R001
Initializing...R002
Hello, My name is R001
Hello, My name is R002
현재 로봇이 2대 입니다.
R001 is destroying...
R001 로봇이 파기되었습니다. 현재 1대 남아있습니다
현재 로봇이 1대 입니다.
R002 is destroying...
R002 로봇이 마지막 로봇 이었습니다. 현재 0대 남아있습니다

10.4 클래스 상속 (inheritance)

In [298]:
class SchoolMember:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print(f"스쿨멤버가 생성되었습니다 : {self.name}")
    def tell(self):
        print(f"이름 : {self.name}, 나이 : {self.age}", end=" ")

class Teacher(SchoolMember):
    def __init__(self,name,age,salary):
        SchoolMember.__init__(self,name,age)
        self.salary = salary
        print(f"선생님 입니다 : {self.name}")
    def tell(self):
        SchoolMember.tell(self)
        print(f"연봉 : {self.salary}")

class Student(SchoolMember):
    def __init__(self, name, age, score):
        SchoolMember.__init__(self, name, age)
        self.score = score
        print(f"학생 입니다 : {self.name}")
    def tell(self):
        SchoolMember.tell(self)
        print(f"학점 : {self.score}")
        
        
t = Teacher("Mr. Kim", 50, 100000000)
s = Student("Loy", 25, 4.3)

t.tell()
s.tell()

스쿨멤버가 생성되었습니다 : Mr. Kim
선생님 입니다 : Mr. Kim
스쿨멤버가 생성되었습니다 : Loy
학생 입니다 : Loy
이름 : Mr. Kim, 나이 : 50 연봉 : 100000000
이름 : Loy, 나이 : 25 학점 : 4.3

11. 파일입출력

In [1]:
f = open("test.txt", 'w')
f.write("Hello, My name is Joy. Nice to Meet You! Bye")
f.close()

In [2]:
f = open("test.txt", 'r')
str = f.read()
f.close()

print(str)
a = str.split(' ')
print(a)

Hello, My name is Joy. Nice to Meet You! Bye
['Hello,', 'My', 'name', 'is', 'Joy.', 'Nice', 'to', 'Meet', 'You!', 'Bye']

In [8]:
f = None
txt_str = ''

f = open('test.txt', 'r', encoding='UTF-8')

while True:
  txt_str=f.readline()
  if txt_str == '':
    break
  # print(i, ':', txt_str, end= "")
  # i += 1
f.close()

11.2 피클링(pickling)

In [9]:
import pickle
a = [100,200,True,"Hi",[10,5.5]]

f = open("myListPickle", 'w+b')
pickle.dump(a, f)
f.close()

In [10]:
import pickle

f = open("myListPickle", 'r+b')
b = pickle.load(f)
f.close()

print(b)

[100, 200, True, 'Hi', [10, 5.5]]

12. 예외 처리

In [310]:
try:
    f = open("test2.txt")
    str = f.read()
    f.close()
    
    print(str)

except IOError:
    print("파일을 찾을 수 없습니다")

파일을 찾을 수 없습니다

In [312]:
a = [1,2,3]

try:
    val = a[10]
    print("val=", val)
except:
    print("에러발생!")
else:
    print("에러없이 동작 완료")
finally:
    print("항상 출력됨")

에러발생!
항상 출력됨

In [313]:
a = [1,2,3]

try:
    val = a[10]
    print("val=", val)
except Exception as e:
    print("에러발생!")
    print(e)

에러발생!
list index out of range

13. 모듈 사용

In [329]:
import random

val = random.randint(1,10)
print(val)

8

In [334]:
import random as R

val = R.randint(1,10)
print(val)

6

In [338]:
from random import *

val = randint(1,10)
print(val)

2

In [339]:
from random import randint

val = randint(1,10)
print(val)

4

In [352]:
import random as R

val = R.choice(['a','b','c','d','e'])
print(val)

e

13.2 사용자 모듈 만들고 사용하기

In [2]:
# 같은 폴더 내에 my_modules.py 라는 파일을 만들고 파일 안에 함수를 정의합니다.
import sys
sys.path.append('C:/myPython2/')  # 사용자 모듈 저장 위치

import my_modules
my_modules.add(1,3)

4