0. 첫번째 프로그램 예제(변수, 표준입출력, 연산자)

In [ ]:
1+5

print("Hello, Python")
print(123)
print(False)

Hello, Python
123
False
123

1. 변수

In [21]:
a = 123
b = 45.67
c = "abcdefg" # 문자열은 "" 큰따옴표, '' 작은따옴표로 해도 상관없음
d = 'abcdefg' # 문자열은 "" 큰따옴표, '' 작은따옴표로 해도 상관없음
e = True

print(a)
print(b)
print(c)
print(d)
print(e)

type(a) # type 명령어 사용 시 타입 확인 가능
type(b) 
type(c) 
type(d) 
type(e) 

print(type(a))#프린트로 묶어서도 가능
print(type(b)) 
print(type(c)) 
print(type(d)) 
print(type(e))

123
45.67
abcdefg
abcdefg
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [27]:
a = input("값을 입력하세요:>")
# print(int(input("값을 입력하세요:>")))
print(a)
type(a)

d

str

기초 연산자

In [30]:
tempC = input("섭씨 온도를 입력하세요:> ")
tempF = (int(tempC) * 9 )/ 5 + 32
print(tempF)

82.4

In [ ]:
# = 주석 ctrl +/ 해도 나옴   %, //, **

print(11 / 4)
print(11 // 4)
print(11 % 4) #나머지
print(2 ** 3) #거듭제곱연산

2.75
2
3
8

In [4]:
#수학모듈
import math
print(math.ceil(3.14))
print(math.floor(3.14))

4
3

In [43]:
s = "Hello, \n I'm Joy"
print(s)
print(len(s))

Hello,
 I'm Joy
16

In [49]:
s1 = "abc"
s2 = "def"
num = 123
print(s1 + str(num))

s = s1 + s2
print(s)

abc123
abcdef

In [5]:
#연결연산자 는 양쪽 데이터 타입이 동일해야함
s1 = "hello"
s2 = str(123)
print(s1 + s2)

hello123

형변환(type casting)

In [ ]:
print(str(123))
print(int("-123"))

print("001223.45")
print(float("001223.45"))

print(int("1001" ,2)) # 2진수로 변경
print(int("AFF0", 16)) #16진수

123
-123
001223.45
1223.45
9
45040

In [ ]:
# s = "My name is Joy"
s = "My name is Christin"

s1 = [ "christin" , "JOY", ""]
print(len(s))
print(s.find("Christin"))
print(s.find("Loy")) #만약 값이 없다면 -1로 반환됨
print(s.replace("Christin", "Joy")) # replace /특정글자를 ,이걸로 바꿔줘  ////대소문자 구분함
#도트연산자를 사용해서 불러오기

# print(s[-3:])
print(s[-8:])

19
11
-1
My name is Joy
Christin

In [17]:
a = "너무너무 배고파요 덥고 힘들어요"
print(len(a))
print(a.find("덥"))
print(a.replace("배고파요", "배아파요"))
print(a[:4])
print(a[:14])
print(a[:-1])
print(a[5:-1])

17
10
너무너무 배아파요 덥고 힘들어요
너무너무
너무너무 배고파요 덥고 힘
너무너무 배고파요 덥고 힘들어
배고파요 덥고 힘들어

In [78]:
s = "abcdefghijklmnopqrstuvwxyz"
print(len(s))
print(s.find("l"))
print(s[12])
print(s[12:17])
print(s[:17])





#print(s[1:5]) # 1부터 4까지
#print(s[:5]) # 0부터 4까지
#print(s[3:]) # 3부터 끝까지
#print(s[-3:]) # 끝에서 -3~ 끝까지

26
11
m
mnopq
abcdefghijklmnopq

In [ ]:
s = "abcdefghijklmnopqrstuvwxyz"
print(len(s))
print(s.find("l"))
print(s[12])
print(s[12:17])
print(s[:17])
print(s[12:])
print(s[-14:])
print(s[:-9])
#쓰는건0부터
#내가 원하는건 -1의 값까지





#print(s[1:5]) # 1부터 4까지
#print(s[:5]) # 0부터 4까지
#print(s[3:]) # 3부터 끝까지
#print(s[-3:]) # 끝에서 -3~ 끝까지

26
11
m
mnopq
abcdefghijklmnopq
mnopqrstuvwxyz
mnopqrstuvwxyz
abcdefghijklmnopq

In [7]:
s = "abcdefghijklmnopqrstuvwxyz"
print(s.upper())
print(s.lower())
print(s.title())#첫글자만 대문자

ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
Abcdefghijklmnopqrstuvwxyz

Format 함수

In [44]:
print("3 + 4 = " , 3+4) #, 가 들어가면 공백이 들어감
print("3 + 4 = " + str(3+4))
print("3 + 4 = {:d}".format(3+4)) # 대괄호 안에 넣기 갯수제한은없음 /{:d} 쓰면 Integer 형식
print("3 + 4 = {:07d}".format(3+4))
print("3 + 4 = {} , 5 + 6 = {}".format(3+4,5+6) ) # 순서에 따라서 매칭/ 추가적으로 데이터가 하나 더 있는경우 알아서 뒤에껀 잘림

x = +1.234567000
print("x={}".format(x))
print("x={:.2f}".format(x))
print("x={:7.2f}".format(x)) 
print("x={:10.9f}".format(x)) #전체자리에다가 소수자리9개까지 표기하기 
print("x={:07.2f}".format(x)) 
print("x={:+07.2f}".format(x))

3 + 4 =  7
3 + 4 = 7
3 + 4 = 7
3 + 4 = 0000007
3 + 4 = 7 , 5 + 6 = 11
x=1.234567
x=1.23
x=   1.23
x=1.234567000
x=0001.23
x=+001.23

In [27]:
"{}".format(10)
"{}{}".format(10,20)

'1020'

In [66]:
print(f"3 + 4 = {3+4}")

3 + 4 = 7

날짜형식 사용하기

In [79]:
from datetime import datetime
d = datetime.now()
print(d)
print("{:%m-%d}".format(d))
print("{:%Y-%m-%d %H:%M:%S}".format(d))


print(d.year)
print(d.month)
print(d.day)
print(d.hour)
print(d.minute)
print(d.second)

2025-07-10 10:26:19.871070
07-10
2025-07-10 10:26:19
2025
7
10
10
26
19

In [82]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return type(value).__format__(value, format_spec)

    Many built-in types implement format_spec according to the
    Format Specification Mini-language. See help('FORMATTING').

    If type(value) does not supply a method named __format__
    and format_spec is empty, then str(value) is returned.
    See also help('SPECIALMETHODS').

주석코드

In [ ]:
#  한 줄 주석입니다

"""
  여러 줄에 걸친 주석 입니다.
"""
#함수 설명서 만들때 """ """ 주석을 많이 씀

'\n  여러 줄에 걸친 주석 입니다.\n'

조건문

  if조건문

In [94]:
# if 조건문:
  #조건문이 참일 때 실행되는 문장

#이 문장은 if문 안에 있는 문장이 아닙니다.

x = 100

if x >+ 100:
  print("x는 100 이상의 값입니다")

print("이 문장은 if문과 상관없이 출력됩니다.") #들여쓰기 주의!

# if x == 0:
#   print("x는 100 이상의 값입니다")

# print("이 문장은 if문과 상관없이 출력됩니다.") #들여쓰기 주의!

이 문장은 if문과 상관없이 출력됩니다.

if/elif/else 문

In [ ]:
x = 30

# if x > 100:
if x > 100:
  # pass #나중에 구현할때
  print("100을 초과했습니다")
  
# elif 10 < x <=100:
#   print("10이상, 100 이하의 값입니다")

elif 10 < x and x <=100:
  print("10이상, 100 이하의 값입니다2")
  
# elif x <<10:
  # pass
  # print("10이하의 값입니다")
else :
    print("정상값 입니다.")

print("if/elif/else 문 밖의 문장입니다.")

10이상, 100 이하의 값입니다2
if/elif/else 문 밖의 문장입니다.

연산자(비교연산자 <, >, <=, >=, ==, !=)

In [113]:
#숫자
print("10 != 20 :", 10 != 20)
print("10 != 10 :", 10 != 10)
print("10 >= 10 :", 10 >= 10)
print("10 >= 11 :", 10 >= 11)
print("10 == 10 :", 10 == 10)


print("=================================")


#문자
print("aa < ab :", 'aa' < 'ab')
print("aa < aaa :", 'aa' < 'aaa')
print("aaa < aa :", 'aaa' < 'aa')
print("a < A :", 'a' < 'A')
print("A < a :", 'A' < 'a')

10 != 20 : True
10 != 10 : False
10 >= 10 : True
10 >= 11 : False
10 == 10 : True
=================================
aa < ab : True
aa < aaa : True
aaa < aa : False
a < A : False
A < a : True

논리 연산자(and, or, not)

In [122]:
x = True#100
y = False#0
print(x and y) 
print(not x == 100)

False
True

In [180]:
x = int(input("점수를 입력해주세요"))

#if 90 <= x <=100: 으로도 변경가능

if x > 100:
  print("잘못된 입력입니다. 다시 입력해주세요.")

elif x < 0:
  print("잘못된 입력입니다. 다시 입력해주세요.")

elif x >= 90 :
  print(f"당신의 점수는 {x}점\n 당신의 학점은 A 입니다.")

elif x >= 80 :
  print(f"당신의 점수는 {x}점\n 당신의 학점은 B 입니다.")

elif x >= 70 :
  print(f"당신의 점수는 {x}점\n 당신의 학점은 C 입니다.")

elif x >= 60 :
  print(f"당신의 점수는 {x}점\n 당신의 학점은 D 입니다.")

else:
  print(f"당신의 점수는 {x}점\n 당신의 학점은 F 입니다.")

당신의 점수는 95점
 당신의 학점은 A 입니다.

반복문 (for~ in 문)

In [181]:
# for 변수값 in 범위 / 데이터 :
#   반복해서 실행할 문장

  # for문이 끝난 후의 외부 명령 코드

In [ ]:
for x in range(1,6) : # 범위를 주고 그 값이 끝나면 종료되게 
  print(x)

type(range(5))

1
2
3
4
5

range

반복문 (while 문)

In [189]:
i = 1
while i != 11: # i < 11 다양하게 쓰임 / 자바때도 이렇게 많이 사용함
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [191]:
answer = ""
while answer != 'q': # i < 11 다양하게 쓰임 / 자바때도 이렇게 많이 사용함
  answer = input("키보드를 누르세요:") 
  print(answer)

d
e
f
w
e
r
t
g
q

while 반복문 나가기 (break문)

In [ ]:
answer = ""
while True:
  answer = input("키보드를 누르세요:")
  print(answer)

  if (answer == 'q'):
    break

치킨
피자
햄버거
떡볶이
오리구이
김치볶음밥
대창구이
양갈비
메로구이
스시
이런
q

In [6]:
while True:
  x = int(input("점수를 입력해주세요"))

  #if 90 <= x <=100: 으로도 변경가능


  if x > 100 :
    print("잘못된 값입니다. 다시 입력하세요")
    
  elif x < 0:
    print("잘못된 값입니다. 다시 입력하세요")
  
  elif x >= 90 :
    print(f"당신의 점수는 {x}점\n 당신의 학점은 A 입니다.")
    break
  elif x >= 80 :
    print(f"당신의 점수는 {x}점\n 당신의 학점은 B 입니다.")
    break
  elif x >= 70 :
    print(f"당신의 점수는 {x}점\n 당신의 학점은 C 입니다.")
    break
  elif x >= 60 :
    print(f"당신의 점수는 {x}점\n 당신의 학점은 D 입니다.")
    break
  else:
    print(f"당신의 점수는 {x}점\n 당신의 학점은 F 입니다.")
    break

당신의 점수는 95점
 당신의 학점은 A 입니다.

함수 정의하기

In [203]:
def count_to_5():
  #함수 정의 부분
  for i in range(1, 6):
    print(i)
  
count_to_5()

1
2
3
4
5

In [ ]:
def count_n(n):  #매개변수
  for i in range(1, n+1):
    print(i)
count_n(7)

1
2
3
4
5
6
7

In [214]:
#초기값 만들어주고 함수 호출
def count_to_n(n = 5):  #매개변수
  for i in range(1, n+1):
    print(i)
count_to_n() #안에 값 안넣어주면 초기값 출력
# count_to_n(7) #안에 값 넣어주면 마지막 값으로 출력

1
2
3
4
5

In [ ]:
def count(start_n=1, end_n=5):  #매개변수
  for i in range(start_n, end_n+1):
    print(i)
count(3,10) #매개변수와 아규먼트 갯수 맞추어주기

3
4
5
6
7
8
9
10

In [19]:
def count(start_n=1, end_n=5):  #매개변수
  """ start_n : 시작값, end_n : 종료값
      start_n ~ end_n까지의 수를 출력함 """ #독스트링

  for i in range(start_n, end_n+1):
    print(i)
count(3) #매개변수와 아규먼트 갯수 맞추어주기

3
4
5

return 문

In [223]:
def make_polite(sentence):
  s = sentence + "Plz"
  return s

print(make_polite("연필좀 줄래?"))

연필좀 줄래?Plz

In [4]:
for v in range(1,11) :
  if v % 2 == 0:
    print(v, "짝수", sep=" : ")
  else:
    print(v, "홀수", sep=" : ")

1 : 홀수
2 : 짝수
3 : 홀수
4 : 짝수
5 : 홀수
6 : 짝수
7 : 홀수
8 : 짝수
9 : 홀수
10 : 짝수

In [16]:
for v in range(1,21) :
  if v % 3 == 0:
    print(v, "3의 배수", sep=" : ")
  else:
    print(v, "홀수", sep=" : ")

1 : 홀수
2 : 홀수
3 : 3의 배수
4 : 홀수
5 : 홀수
6 : 3의 배수
7 : 홀수
8 : 홀수
9 : 3의 배수
10 : 홀수
11 : 홀수
12 : 3의 배수
13 : 홀수
14 : 홀수
15 : 3의 배수
16 : 홀수
17 : 홀수
18 : 3의 배수
19 : 홀수
20 : 홀수

In [ ]:
sum_value = 0
for num in range(1, 101):
  sum_value += num  #sum_value = sum_value + num
print("1부터 100 까지 더한 값 = ", sum_value)

1부터 100 까지 더한 값 =  5050

In [30]:
def add(num1 , num2):
  return num1 + num2

def sub(num1 , num2):
  return num1 - num2



r1 = add(10, 20)

v1, v2 = 100 ,200

r2 = add(v1, v2)

r3 = sub(200 ,40)



print(r1)
print(r2)
print(r3)

30
300
160

리스트

In [ ]:
#파이썬은 타입달라도 리스트로 묶을수있음

list_a = [20, "Joy", 10.8, True, 80]
list_b = [30, "Cat"]


print(list_a)
print(list_b)
print(list_a[1])


list_a[1] = 'Christin'
print(list_a)
print(len(list_a))

[20, 'Joy', 10.8, True, 80]
[]
Joy
[20, 'Christin', 10.8, True, 80]
5

In [ ]:
list_a2 = [20, "Christin", 10.8, True, 80]
list_a2.append("신전떡볶이 먹고싶다") #리스트 끝에 요소 추가
print(list_a2)

list_a2.insert(2, 75) #리스트 중간(인덱스 번호)에 요소 추가
print(list_a2)

[20, 'Christin', 10.8, True, 80, '신전떡볶이 먹고싶다']
[20, 'Christin', 75, 10.8, True, 80, '신전떡볶이 먹고싶다']

리스트끼리 이어붙이기

In [ ]:
list_a2 = [20, "Christin", 10.8, True, 80]
list_b = [30, "Cat"]

list_a2.extend(list_b) # 리스트 끝에 다른 리스트의 요소를 추가
print(list_a2)

# list_a2.append(list_b) # 하나의 요소로 들어감(리스트 채로 들어감)

[20, 'Christin', 10.8, True, 80, 30, 'Cat']

리스트 지우기

In [ ]:
list_a2 = [20, "Christin", 10.8, True, 80]
list_b = [30, "Cat"]

list_a2.pop() # 리스트 끝에 있는 데이터 삭제
print(list_a2)


list_a2.pop(2) #리스트의 특정위치 (인덱스 번호) 데이터를 삭제
print(list_a2)

del list_a[1] #리스트의 특정위치(인덱스 번호) 요소 삭제
print(list_a)

[20, 'Christin', 10.8, True]
[20, 'Christin', True]
[20, 10.8, True, 80]

문자열 분리해서 리스트에 넣기 split()

In [61]:
print("abc defujklskljfljd lkjflsakjl j".split(" "))
print("12345-67890".split("-"))
print("2025/06/02/05/02".split("/"))
print("저는 오늘 아침에 커피를 마시면서 왔습니다.".split())
print("https://oneweeks/co/kr".split("/"))

list_new = "저는 오늘 아침에 커피를 마시면서 왔습니다.".split()

print(list_new)
print(list_new[3])
print(list_new[3][0:2])

['abc', 'defujklskljfljd', 'lkjflsakjl', 'j']
['12345', '67890']
['2025', '06', '02', '05', '02']
['저는', '오늘', '아침에', '커피를', '마시면서', '왔습니다.']
['https:', '', 'oneweeks', 'co', 'kr']
['저는', '오늘', '아침에', '커피를', '마시면서', '왔습니다.']
커피를
커피

리스트 요소 반복하기

In [70]:
a = [20, "Christin",200, 10.8, True, 80 ]

for x in a :
  print(x, end=", ") #end는 추가사항

20, Christin, 200, 10.8, True, 80,

리스트 열거하기 enumerate()

In [75]:
a = [20, "Christin",200, 10.8, True, 80 ]

for i, x in enumerate(a) :  #(i ,x)괄호를 해도 되고, 안해도 생략되어서 편한대로 
  print(i, x , sep="->")

0->20
1->Christin
2->200
3->10.8
4->True
5->80

In [ ]:
a = [20, "Christin",200, 10.8, True, 80 ]

for  i in range(len(a)) : #len을 써서 차후 추가가 될 수 있는 리스트의 길이를 측정할수있게해줌
  print(i, a[i])

0 20
1 Christin
2 200
3 10.8
4 True
5 80

In [82]:
a = [10 , 40, 3, 5, 100, 8]

for x in a :
  if x >= 10 :
    print(x)

10
40
100

리스트 순차 출력(문자열)

In [ ]:
a = [ 'dog' , 'cat', 'horse', 'duck', 'rabbit']
b = [ '고양이','말' ,'강아지', '닭' , '돼지', '토끼'] #한글도 가능함

a.sort() # 순서대로
# b.sort()

print(a)
print(b)

['cat', 'dog', 'duck', 'horse', 'rabbit']
['고양이', '말', '강아지', '닭', '돼지', '토끼']

Copy 모듈 (copy함수)

In [ ]:
import copy

a = [ 'dog' , 'cat', 'horse', 'duck', 'rabbit']
b = copy.copy(a) # 이거 안쓰면 a도 데이터 변경됨



print("a = ", a)
print("b = ", b)


b.sort(reverse=True) #옵션주면 역방향 가능
print("sorted b = ", b)
print("a = ", a)

a =  ['dog', 'cat', 'horse', 'duck', 'rabbit']
b =  ['dog', 'cat', 'horse', 'duck', 'rabbit']
sorted b =  ['rabbit', 'horse', 'duck', 'dog', 'cat']
a =  ['dog', 'cat', 'horse', 'duck', 'rabbit']

In [107]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

리스트 나누기

In [117]:
a_furuts_list = ["apple", "banana", "grape", "orange", "watermelon"]
print(a_furuts_list)
print( "[1:3] =" , a_furuts_list[1:3])
print( "[:3] =" , a_furuts_list[:3])
print( "[1:] =" , a_furuts_list[1:])
print( "[-2:] =" , a_furuts_list[-2:])
print( "[:-2] =" , a_furuts_list[:-2]) #: 뒤에 -2를 작성시 뒤에부터 1번인덱스, 2번인덱스 제외를 함/
print(" [1:2] =", a_furuts_list[1:-3])

['apple', 'banana', 'grape', 'orange', 'watermelon']
[1:3] = ['banana', 'grape']
[:3] = ['apple', 'banana', 'grape']
[1:] = ['banana', 'grape', 'orange', 'watermelon']
[-2:] = ['orange', 'watermelon']
[:-2] = ['apple', 'banana', 'grape']
 [1:2] = ['banana']

In [ ]:
a = ["abc" , "def", "ghi", "jkl"]
b = [ x.upper() for x in a]
c = []

print(a)
print(b)

#동일 방법
for x in a :
  c.append(x.upper())

print(c)

['abc', 'def', 'ghi', 'jkl']
['ABC', 'DEF', 'GHI', 'JKL']
['ABC', 'DEF', 'GHI', 'JKL']

리스트에 함수 적용하기 (list comprehensions)

In [ ]:
# a = [1, 2,  3, 4]

# a = [x for x in range(2, 11, 2)] #인자 하나만 1부터 ~ 까지 / 2개는 ~부터 ~까지 /3개는 몇칸씩 띄워서
a = [x+1 for x in range(1, 11, 2)]


b = [ x**2 for x in a]
c = []
d = [*a,*b]

print(a)
print(b)

print(c * 5) #그냥 5번 나오는거임
print(c+c) # 그냥 두번 나옴 (데이터는 변경되지않음)

for x in b :
  x * 2
print(b)


#반복문 사용해보기
for x in range (1, 11):
  if x%2 == 0:
    d.append(x)

print(c)
print(d)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[4, 16, 36, 64, 100]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 4, 16, 36, 64, 100]

In [42]:
c = [1, 2, 3, 4]
print(c * 5) #그냥 5번 나오는거임
print(c+c) # 그냥 두번 나옴 (데이터는 변경되지않음)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

리스트 전개연산자(*)

In [134]:
a = [1, 2, 3, 4]
b = [a , a]
print(a)
print(b)


c = [*a, *a] #앞에 * 붙여주면 리스트를 풀어줌
print(c)

d = 1, 2, 3, 4 #튜플
print(d) 
print(*d)

[1, 2, 3, 4]
[[1, 2, 3, 4], [1, 2, 3, 4]]
[1, 2, 3, 4, 1, 2, 3, 4]
(1, 2, 3, 4)
1 2 3 4

In [43]:
"abcde".join("jkl")

'jabcdekabcdel'

7.딕셔너리(dictionary)

In [59]:
phone_num = {'Emily':'010-1234-5678','Eric':'010-2725-6789','Ellie':'010-3456-789' }
print(phone_num)
print(phone_num['Ellie'])

phone_num['Emily']= '010-9906-8004'

phone_num['ellie']= '010-5678-8044'
#키가 없으면 값 새로 추가해줌

print(phone_num)

phone_num.pop('ellie')
print(phone_num)
phone_num.pop('Eric')
print(phone_num)


# print(type(phone_num))

dic_a = {"key1": 1, "key2": 'string1'}

dic_b = {"key": dic_a }

print(dic_b)

{'Emily': '010-1234-5678', 'Eric': '010-2725-6789', 'Ellie': '010-3456-789'}
010-3456-789
{'Emily': '010-9906-8004', 'Eric': '010-2725-6789', 'Ellie': '010-3456-789', 'ellie': '010-5678-8044'}
{'Emily': '010-9906-8004', 'Eric': '010-2725-6789', 'Ellie': '010-3456-789'}
{'Emily': '010-9906-8004', 'Ellie': '010-3456-789'}
{'key': {'key1': 1, 'key2': 'string1'}}

In [ ]:
phone_num = {'Emily':'010-1234-5678','Eric':'010-2725-6789','Ellie':'010-3456-789' }

print(phone_num)

for name in phone_num: #key만 출력
  print(name)

print()

for x in phone_num.keys():  #key만 출력
  print(x)

print()


for x in phone_num.values(): #value만 출력
  print(x)


for x in phone_num.items(): # (key, value) 출력
  print(x)

print()

for x, y in phone_num.items(): #key, value 를 각각의 변수로 출력
  print(x, y, sep=":")

{'Emily': '010-1234-5678', 'Eric': '010-2725-6789', 'Ellie': '010-3456-789'}
Emily
Eric
Ellie

Emily
Eric
Ellie

010-1234-5678
010-2725-6789
010-3456-789
('Emily', '010-1234-5678')
('Eric', '010-2725-6789')
('Ellie', '010-3456-789')

Emily:010-1234-5678
Eric:010-2725-6789
Ellie:010-3456-789

In [83]:
class1_1 = {'민희': [150,50], '진수': [170,77], '정욱': [180, 82]}
class1_2 = {'정인': [162,60], '태수': [179,95], '영주': [169, 59]}
class1_3 = {'두팔': [175,60], '재욱': [185,90], '지영': [165, 50]}

class1 = {'1-1' : class1_1,'1-2' : class1_2, '1-3' : class1_3}

print(class1_1)
print(class1_2)
print(class1_3)

print(class1)

{'민희': [150, 50], '진수': [170, 77], '정욱': [180, 82]}
{'정인': [162, 60], '태수': [179, 95], '영주': [169, 59]}
{'두팔': [175, 60], '재욱': [185, 90], '지영': [165, 50]}
{'1-1': {'민희': [150, 50], '진수': [170, 77], '정욱': [180, 82]}, '1-2': {'정인': [162, 60], '태수': [179, 95], '영주': [169, 59]}, '1-3': {'두팔': [175, 60], '재욱': [185, 90], '지영': [165, 50]}}

튜플(tuple)

In [95]:
a = 1, 2, 3, 4 # 튜플로 인식함()

print(a)
print(a[0]) #시퀀스형 데이터라 가능함
# a[0] = 5 # 튜플은 값 변경 불가 /리스트와 다름

v1 , v2 = 2, 3

print(v1, v2)


v1, *v2 = 11, 22, 33, 44  #r 벨류가 더 많으면 원래 실행안되지만 * 사용시엔 리스트로 바꿔줌
print(v1, v2)
type(v1)
type(v2)

*v1, v2 = 11, 22, 33, 44 
print(v1, v2)


v1, *v2, v3 = 11, 22, 33, 44 
print(v1, v2, v3)


*v1, v2, v3 = 11, 22, 33, 44 
print(v1, v2, v3)

(1, 2, 3, 4)
1
2 3
11 [22, 33, 44]
[11, 22, 33] 44
11 [22, 33] 44
[11, 22] 33 44

In [105]:
def calc_temperature(kelvvin):
  cel = kelvvin - 273
  fah = cel * 9 /5 + 32
  return cel , fah

c, f = calc_temperature(300)
print(c,"C", f, "F")


print(type(calc_temperature)) #함수도 클래스로 인식

27 C 80.6 F
<class 'function'>

In [ ]:
a = {'apple', 'banana', 'orange', 'mango', 'banana'} # 집합, 동일데이터가있어도 중복제거해줌
b = {'milk', 'coffee', 'greentea'}
print(a)
print(b)

# print(a and b)

{'apple', 'orange', 'banana', 'mango'}
{'mango', 'milk', 'coffee', 'greentea'}
False

In [128]:
s = "marries "

print(s.join(['Alice ', 'Bob ']))

Alice marries Bob

바다코끼리 연산자(the walrus operator) v3.8이상 지원

In [129]:
# :=
name = "This example sentence"
if(n := len(name)) > 3:
  print(name + "의 길이는 " + str(n) + "이다.")

This example sentence의 길이는 21이다.

match(switch문과 비슷) v3.10이상 지원

In [130]:
x = 2
match x:
  case 1:
    print("one")
  case 2:
    print("two")

two

In [135]:
grade = input("학년을 입력하세요 : ")

match grade:
  case '1' | '2' | '3':
    print(grade + "학년은 저학년 입니다.")
  case '4' | '5' | '6':
    print(f"{grade} + 학년은 고학년 입니다.")
  case _ : #_ 는 와일드카드(앞에 조건외의 다른 경우)
    print("1 ~ 6 까지만 입력 가능!")

1 ~ 6 까지만 입력 가능!

In [143]:
grade = input("학년을 입력하세요 : ")

if  ('1' or '2' or '3'):
  print(grade + "학년은 저학년 입니다.")
elif ('4' or '5' or '6'):
  print(f"{grade} + 학년은 고학년 입니다.")
else:
  print("1 ~ 6 까지만 입력 가능!")

7학년은 저학년 입니다.